<md-toolbar layout="row" class="md-whiteframe-z1">

    <h1>WIMM</h1>
</md-toolbar>

<md-content flex id="content" ng-controller="MainCtrl as mc" style="position: inherit">
    <md-grid-list md-cols-sm="2" md-cols-md="3" md-cols-gt-md="6" md-row-height-gt-md="1:1" md-row-height="2:2"
                  md-gutter="12px" md-gutter-gt-sm="8px">
        <md-grid-tile md-rowspan="1" md-colspan="1" class="green md-whiteframe-z1"
                      ng-repeat="charge in mc.charges" ng-click="mc.showPopup($event)"
                      id="{{charge.id}}">
            <figure style="background: url({{charge.image}}), fixed, no-repeat;">
                <md-grid-tile-header class="ng-scope {{charge.repeat.type}}">
                    <figcaption>
                        <h3 class="ng-scope">{{charge.cost}} {{charge.currency}}</h3>
                    </figcaption>
                </md-grid-tile-header>
                <!--<div class="content" ng-show="size===2" ng-click="$event.stopPropagation()" ng-init="$scope.sum = 0">-->
                    <!--{{$scope.sum}}-->
                    <!--<span>{{charge.comment}}</span>-->

                    <!--<div>-->
                        <!--<md-input-container>-->
                            <!--<label>Sum</label>-->
                            <!--<input ng-model="$scope.sum" type="number">-->
                            <!--<md-icon md-svg-icon=""></md-icon>-->
                        <!--</md-input-container>-->
                        <!--<div>-->
                            <!--<md-button ng-repeat="history in charge.history" ng-click="$scope.sum = history.value">-->
                                <!--{{history.value}}-->
                            <!--</md-button>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
                <md-grid-tile-footer class="ng-scope">
                    <figcaption>
                        <h3 class="ng-scope">{{charge.title}}</h3>
                    </figcaption>
                </md-grid-tile-footer>
            </figure>
        </md-grid-tile>
    </md-grid-list>
    <md-button class="md-fab md-warn md-fab-bottom-right md-" md-no-ink ng-click="mc.addCharge()"
               aria-label="Contact User" style="position: fixed">
        <!--<md-tooltip>Contact {{ pc.selected.name }}</md-tooltip>-->
        <!--<md-icon md-svg-icon="share"></md-icon>-->
    </md-button>
</md-content>