<!DOCTYPE html>
<html>
<head>

    <link rel="stylesheet" href="css/bootstrap.css"/>
    <link rel="stylesheet" href="css/app.css"/>
    <link rel="stylesheet" href="css/main.css"/>
</head>
<body ng-app="myApp" class="ng-cloak">
<div class="generic-container" ng-controller="ProductRestController as ctrl">
    <div class="panel panel-default">
        <div class="panel-heading"><span class="lead">Product Registration </span></div>
        <div class="formcontainer">
            <form ng-submit="ctrl.submit()" name="myForm" class="form-horizontal">
                <input type="hidden" ng-model="ctrl.product.id" />

                <div class="row">
                    <div class="form-group col-md-12">
                        <label class="col-md-2 control-lable" for="file">Name</label>
                        <div class="col-md-7">
                            <input type="text" ng-model="ctrl.product.name" class="form-control input-sm" placeholder="Enter your Name product."/>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-md-12">
                        <label class="col-md-2 control-lable" for="file">Image</label>
                        <div class="col-md-7">
                            <input type="text" ng-model="ctrl.product.image" class="form-control input-sm" placeholder="Enter your Path to image."/>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-12">
                        <label class="col-md-2 control-lable" for="file">Article</label>
                        <div class="col-md-7">
                            <input type="text" ng-model="ctrl.product.article" class="form-control input-sm" placeholder="Enter your Article product"/>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-12">
                        <label class="col-md-2 control-lable" for="file">Cost</label>
                        <div class="col-md-7">
                            <input type="text" ng-model="ctrl.product.cost" class="form-control input-sm" placeholder="Enter your Cost"/>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-12">
                        <label class="col-md-2 control-lable" for="file">Shortdescriprion</label>
                        <div class="col-md-7">
                            <input type="text" ng-model="ctrl.product.shortdescriprion" class="form-control input-sm" placeholder="Enter your Shortdescriprion product"/>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-12">
                        <label class="col-md-2 control-lable" for="file">Fulldescriprion</label>
                        <div class="col-md-7">
                            <input type="text" ng-model="ctrl.product.fulldescription" class="form-control input-sm" placeholder="Enter your Fulldescription product"/>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-actions floatRight">
                        <input type="submit"  value="{{!ctrl.product.id ? 'Add' : 'Update'}}" class="btn btn-primary btn-sm" ng-disabled="myForm.$invalid">
                        <button type="button" ng-click="ctrl.reset()" class="btn btn-warning btn-sm" ng-disabled="myForm.$pristine">Reset Form</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading"><span class="lead">List of product </span></div>
        <div class="tablecontainer">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>ID.</th>
                    <th>Name</th>
                    <th>Image</th>
                    <th>Article</th>
                    <th>Cost</th>
                    <th>Shortdescriprion</th>
                    <th>Fulldescription</th>
                    <th width="20%"></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="p in ctrl.product">
                    <td><span ng-bind="p.id"></span></td>
                    <td><span ng-bind="p.name"></span></td>
                    <td><span ng-bind="p.image"></span></td>
                    <td><span ng-bind="p.article"></span></td>
                    <td><span ng-bind="p.cost"></span></td>
                    <td><span ng-bind="p.shortdescriprion"></span></td>
                    <td><span ng-bind="p.fulldescription"></span></td>
                    <td>
                        <button type="button" ng-click="ctrl.edit(p.id)" class="btn btn-success custom-width">Edit</button>  <button type="button" ng-click="ctrl.remove(p.id)" class="btn btn-danger custom-width">Remove</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>




<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.js"></script>
<script src="js/app.js"></script>
<script src="js/service/product_service.js"></script>
<script src="js/controller/product_controller.js"></script>
</body>
</html>