<md-toolbar layout="row" class="md-whiteframe-z1">

  <h1>111</h1>
</md-toolbar>

<md-content flex id="content">
  <md-icon md-svg-icon="{{pc.selected.avatar}}" class="avatar"></md-icon>
  <h2>222</h2>

  <p>3333</p>

  <md-button class="contact" md-no-ink ng-click="pc.showContactOptions($event)" aria-label="Contact User">
    <md-tooltip>Contact {{ pc.selected.name }}</md-tooltip>
    <md-icon md-svg-icon="share"></md-icon>
  </md-button>
</md-content>